@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&display=swap');

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;

  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff);
  font-weight: var(--fw-normal);
  font-size: var(--fz);

  background: linear-gradient(to bottom, var(--background-gradient-soft-violet), var(--background-gradient-soft-blue));
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    /* Layout */
    --mobile-width: 375px;
    --desktop-width: 1440px;
  
    /* Colors - Primary */
    --text-very-dark-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --background-gradient-soft-violet: hsl(273, 75%, 66%);
    --background-gradient-soft-blue: hsl(240, 73%, 65%);
  
    /* Colors - Neutral */
    --text-very-dark-grayish-blue: hsl(237, 12%, 33%);
    --text-dark-grayish-blue: hsl(240, 6%, 50%);
    --dividers-light-grayish-blue: hsl(240, 5%, 91%);
  
    /* Typography */
    --fz: 12px;
    --ff: 'Kumbh Sans', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;
  }
  

main.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
}

.accordion-section {
    background-color: #fff;
    max-width: 920px;
    height: 535px;
    padding: 1.5rem;
    border-radius: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
}

.images, .accordion-content {
    flex: 1;
}

.accordion-content {
    margin-top: -7rem;
    z-index: 111;
}

.accordion {
    border-bottom: 1px solid var(--dividers-light-grayish-blue);
    padding-bottom: 1.125rem;
}

.accordion-title {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
    text-align: center;
}


.accordion h2 button{
    cursor: pointer;
    width: 100%;
    font-size: 13px;
    font-weight: var(--fw-normal);
    text-align: left;
    color: var(--text-very-dark-blue);

    display: flex;
    justify-content: space-between;
    align-items: center;


    border: none;
    background: transparent;
    margin-bottom: 0.6875rem;


}

.accordion h2 button:hover {
    color: var(--soft-red);
}

.accordion h2 button:tab-focus    {
    border: 1px dotted var(--soft-red);
}

.accordion h2 button .arrow {
    transition: all .5s;

}
.QandA {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


.answer {
    height: 0;
    overflow: hidden;
    color: var(--text-dark-grayish-blue);
    transition: all .5s;
}

.accordion.active .answer{
    height: 36px;
}

.accordion.active h2 button {
    font-weight: var(--fw-bold);
}

.accordion.active h2 button .arrow {
    transform: rotate(180deg);
    font-weight: var(--fw-bold);
}


.images {
    position: relative;
}

.mobile {
    display: flex;
    flex-direction: column;
    transform: translateY(-8rem);
}



.mobile-pattern {
    margin-top: -4rem;
}

.box {
    display: none;
}

.desktop {
    display: none;
}

@media screen and (min-width:750px) {
    

    .accordion-section {
       flex-direction: row;
        align-items: center;
        padding: 2rem;
        overflow: hidden;
        width: 57.5rem;
        justify-content: start;
    }

    .accordion-content {
        margin-top: 0;
    }

    .accordion-title {
        margin-bottom: 2.1875rem;
    }



 .images {
    position: relative;
 }

 .desktop{
    display: block;
 }


 .pattern {
    position: absolute;
    transform: translate(-38rem, -32rem);
    max-width: 950px;
 }

.woman {
    position: absolute;
    min-width: 450px;
    transform: translate(-7rem, -10rem);
    z-index: 1;
}

 .box {
    display: block;
    position: absolute;
    transform: translate(-7rem, 5rem);

    z-index: 11;
}



.mobile {
    display: none;
}



    .question {
        font-size: 14px;
    }
}